<mat-toolbar color="primary">
    <span>My Reviewer</span>
</mat-toolbar>

<div class="m-4">
    <ng-container *ngIf="!endOfExam">
        <app-question-area 
            [currentQuestion]="currentQuestion"
            [areChoicesShuffled]="areChoicesShuffled" 
            [endOfExam]="endOfExam" 
            [questionCtr]="questionCtr" 
            [totalQuestions]="totalQuestions"
            [currentChoices]="currentChoices"
            [showAnswers]="showAnswers"
            (showTheAnswers)="showTheAnswers()"
            (submitAnswers)="submitAnswers($event)"
            (previousQuestion)="getPreviousQuestion()"
            (shuffleChoices)="shuffleChoices()">
        </app-question-area>
    </ng-container>
    <ng-container *ngIf="endOfExam">
        <app-result [currentQuestions]="currentQuestions">
        </app-result>
    </ng-container>

</div>